@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    /* background-color: #1C1C1C; */
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Hero Section */
#hero-section {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(34, 34, 34) 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-weight: bold;
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}

.nav-links {
    display: flex;
    gap: 20px;
    padding: 4px 10px 4px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a[href*="#"] {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 4px 10px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.half-content {
    width: 50%;
}

.hero-content h1 {
    margin-bottom: 20px;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
}

.shape {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-style: italic;
}

.param {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-buttons .btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px;
}

.btn-primary {
    background-color: #FF5733;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: white;
}

.video-tutorials {
    margin-top: 20px;
}

.free-workout,
.video-tutorials {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: fit-content;
    padding: 12px 14px 14px 14px;
    position: absolute;
    left: 1180px;
    top: 240px;
}

.free-workout span,
.video-tutorials span {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
}

.video-tutorials {
    position: absolute;
    left: 890px;
    top: 500px;
}

/* Habits Section */
.title {
    text-align: center;
}

.title .param {
    margin: 14px 0px 50px 0px;
}

.habit-item img {
    border-radius: 90px;
}

.habit-item h3 {
    margin-top: 20px;
    margin-bottom: 12px;
}

.heading {
    font-size: 48px;
    font-weight: 900;
}

#habits-section {
    padding: 80px 0px 60px 0;
    background-color: #000;
}

.habits-grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* run an extra mile  */
#run-section {
    padding: 40px 0px 30px 0;
    background-color: #000;
}

#run-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 30px 30px 40px;
    width: calc(80% - 30px);
}

.run-content {
    width: 50%;
}

.run-content .param {
    margin-top: 14px;
    margin-bottom: 30px;
}

.btn-run {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
}

.run-image {
    width: 50%;
    text-align: right;
}

.run-image img {
    width: 70%;
    height: 280px;
    border-radius: 18px;
}


/* BMI Section */
.bmi-title {
    background-color: #000;
    text-align: center;
    padding: 70px 0px;
}

.bmi-title .param {
    margin-top: 14px;
}

#bmi-section {
    padding: 50px 0;
    background-color: #333;
}

.bmi-grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sub-title {
    font-size: 28px;
    font-weight: 900;
    text-align: left;
}

.bmi-chart table {
    border-collapse: collapse;
    margin-top: 40px;
}

.bmi-chart table,
th,
td {
    border: 1px solid #444;
}

th {
    padding: 12px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding: 12px;
    text-align: left;
}

.bmi-form {
    width: calc(60% - 20px);
    text-align: left;
}

.bmi-form .param {
    margin-top: 14px;
    margin-bottom: 26px;
}

.input-content {
    display: flex;
    gap: 18;

}

.bmi-form input,
.bmi-form select {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 10px 35px 10px 20px;
    margin: 10px 10px 10px 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

.bmi-form .btn-primary {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 12px 30px;
    font-weight: 600;
    text-align: left;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 16px;
}

/* Team Section */
#team-section {
    padding: 80px 0;
    background-color: #000;
}

.team-title {
    text-align: center;
}

.team-title .param {
    margin-top: 12px;
    margin-bottom: 50px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 24px;
}

.team-member {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 310px;
    margin: 0 auto;
    border-radius: 16px;
}

#image-1 {
    background-image: url('../images/trainer1.png');
}

#image-2 {
    background-image: url('../images/trainer2.png');
}

#image-3 {
    background-image: url('../images/trainer3.png');
}

#image-4 {
    background-image: url('../images/trainer4.png');
}

#image-5 {
    background-image: url('../images/trainer5.png');
}

#image-6 {
    background-image: url('../images/trainer6.png');
}

.team-member h4 {
    font-size: 20px;
    position: relative;
    top: 245px;
    left: 30px;
}

.team-member p {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: 250px;
    left: 30px;
}


/* Footer */
footer {
    background: rgb(34, 34, 34);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: left;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 60px;
    margin-bottom: 30px;
}

.footer-brand h1 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 16px;
}


.footer-links h4 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin: 12px 0px;
}

.footer-links ul li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.hidden {
    display: none;
}


/*Responsive for mobile device (576px) */

@media screen and (max-width:576px) {
    .nav-links {
        display: none;
    }

    .hero-content {
        display: block;
    }

    /* .container{
        width: 80%;
    } */
    .half-content {
        width: 100%;
    }

    .half-content h1 {
        font-size: 46px;
    }

    .hero-buttons {
        display: flex;
        font-size: 15px;
        margin-bottom: 24px;
    }

    .free-workout,
    .video-tutorials {
        padding: 10px 12px 12px 12px;
        position: absolute;
        left: 230px;
        top: 510px;
    }

    .video-tutorials {
        position: absolute;
        left: 40px;
        top: 680px;
    }
}