@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    /* background-color: #1C1C1C; */
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Hero Section */
#hero-section {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(34, 34, 34) 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-weight: bold;
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}

.nav-links {
    display: flex;
    gap: 20px;
    padding: 4px 10px 4px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a[href*="#"] {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 4px 10px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.half-content {
    width: 50%;
}

.hero-content h1 {
    margin-bottom: 20px;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
}

.shape {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-style: italic;
}

.param {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-buttons .btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px;
}

.btn-primary {
    background-color: #FF5733;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: white;
}

.video-tutorials {
    margin-top: 20px;
}

.free-workout,
.video-tutorials {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: fit-content;
    padding: 12px 14px 14px 14px;
    position: absolute;
    left: 1180px;
    top: 240px;
}

.free-workout span,
.video-tutorials span {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
}

.video-tutorials {
    position: absolute;
    left: 890px;
    top: 500px;
}

/* Habits Section */
.title {
    text-align: center;
}

.title .param {
    margin: 14px 0px 50px 0px;
}

.habit-item img {
    border-radius: 90px;
}

.habit-item h3 {
    margin-top: 20px;
    margin-bottom: 12px;
}

.heading {
    font-size: 48px;
    font-weight: 900;
}

#habits-section {
    padding: 80px 0px 60px 0;
    background-color: #000;
}

.habits-grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* run an extra mile  */
#run-section {
    padding: 40px 0px 30px 0;
    background-color: #000;
}

#run-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 30px 30px 40px;
    width: calc(80% - 30px);
}

.run-content {
    width: 50%;
}
.run-content .param{
    margin-top: 14px;
    margin-bottom: 30px;
}

.btn-run {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
}

.run-image {
    width: 50%;
    text-align: right;
}

.run-image img {
    width: 70%;
    height: 280px;
    border-radius: 18px;
}